


/* colors for background. */
body {
  background: #3a1b01;
  color: #ead000;
}
.container1 {
  width: 50%;
  margin: 0 -10px;
}

#my-Video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#my-Video video {
  max-width: 50%;
  height: auto;
}

/* navbar */
.navbar {
  border-bottom: #050101 7px solid;
  opacity: 0.8;
}

/* navbar links */
#home-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background: rgba(9, 2, 2, 0.7);
}

/* home section */
#home-section .home-inner {
  padding-top: 25px;
}

/* home section */
#home-section .card-form {
  opacity: 0.8;
}

/* home section */
#home-section .fas,
#create-section .fas {
  color: #050101;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
}

/* explore section */
#explore-section .fas,
#share-section .fas {
  background: #050101;
  color: #fff;
  padding: 50px;
  border-radius: 50px;
}
#share-head-section {
  background-color: #050101;
}

#share-head-section .btn-outline-light {
  color: #3a1b01;
  border-color: #050101;
}
