
     /* style for the container */
 .container {
     border: 2px solid #050101;
     box-shadow: 0 0 10px #cba484;
     padding: 20px;
     margin: 50px auto;
     background: linear-gradient(to bottom, #3a1b01, #ead000);
     border-radius: 10px;
     max-width: 500px;
     color: #050101;
     font-size: 20px;
     text-align: center;
 }

/* style for the form inputs */
input[type=text] {
    border: none;
    border-bottom: 2px solid #ead000;
    background: transparent;
    color: #050101;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    width: 100%;
}

/* style for the submit button */
input[type=submit] {
    background: #fff;
    color: #000;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
